@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,600;1,100;1,400;1,600&display=swap');

:root {
    --Main-font-family: 'montserrat';
}
.h1,
.h2,
.h3, {
   font-family: var(--Main-font-family);
}
.navdiv {
    background-image: url(/Resources/images/celso-405219-edited.jpg);
    background-size:auto;
    background-repeat:no-repeat;
    font-family: Montserrat;
}

.mainnavs {
    display: flex;
    justify-content: space-around;
}
.frontpage_image img {
    display: flex;
    max-width: 75%;
    max-height: auto;
    text-align: center;
}